nav {
  padding: 10px;
  background-color:black;
}
nav a {
  font-family: toon;
  text-decoration: none;
  color: #FFF;
  font-size: 1.8em;
  padding: 14px 16px;
}

nav a:hover {
  color: #57606f;
  text-decoration: underline;

}

.background {
  background-image: url(../images/background.jpg);
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.how {
  background-image: url(../images/how.jpg);
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

}


nav a.right {
  float: right;
  margin: 0;
  padding:0;
}
